.Container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
}

.Container > h2 {
  text-align: center;
  width: 100%;
}

.Container > div {
  width: 100%;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: auto;
}

.cart-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}

.header {
  text-align: center;
}

.total {
  width: 75%;
  text-align: center;
  margin: auto;
}

.small {
  width: 150px;
  height: 150px;
  margin-top: 10px;
}

.right {
  text-align: right;
}

.btn-add {
  border-radius: 5px;
  background-color: lightblue;
}

.btn-remove {
  border-radius: 5px;
  background-color: yellow;
}
.div-btn {
  margin-top: 5px;
}
.description {
  font-size: 10px;
}

.item-price {
  padding-top: 1rem;
}